.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.ui.cards.cards-wrapper {
  display: flex;
  justify-content: center;
  width: 610px;
  margin: 0 auto;
  /* border: 1px solid grey; */
}

.ui.cards.cards-wrapper #edit-card {
  opacity: 0;
  /* display: none; */
  transform: translateX(150px);
  transition: all 0.5s ease;
}

.ui.cards.cards-wrapper.show-edit #edit-card {
  opacity: 1;
  transform: translateX(0);
  /* display: block; */
}

.ui.cards.cards-wrapper #account-card {
  transform: translateX(150px);
  transition: all 0.5s ease;
}

.ui.cards.cards-wrapper.show-edit #account-card {
  transform: translateX(0);
}
